{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{{ attach_library('bootstrap_barrio/breadcrumb') }}

{% if breadcrumb %}
    <div class="container-fluid">
      <div class="row">
        <div class="col col-md-4 col-lg-4 ">
        {% for item in breadcrumb %}
        {% if loop.last %}
          <span>{{ item.text }}</span>
        {% endif %}
        {% endfor %}
        </div>  
        <div class="col col-md-8 col-lg-8">
          <ul>
          <!--<ol class="breadcrumb">-->
          {% for item in breadcrumb %}
            {% if item.text != '>' %}
              {% if loop.first %}
                <li>
                  <a href="{{ item.url }}">{{ item.text }}</a>
                </li>
              {% elseif loop.last %}
                <li class="active">
                  <a href="{{ item.url }}">{{ item.text }}</a>
                </li>
              {% else %}
                <li>
                  <a href="{{ item.url }}">{{ item.text }}</a>
                </li>  
              {% endif %}
            {% endif %}
          {% endfor %}
          <!--</ol>-->
        </ul>
      </div>
    </div>
  </div>  
{% endif %}
