<!-- Template for List History -->
<div class="subtitle mt-4">
    {{ title }}
</div>
<div class="bg-light-blue light-shadow py-1" style="text-align: center;">
    {% if historyData|length > 0 %}
    <ul class="destinos">
        <li>
            <div>
                <div style="color: #ffffff;"># Compra</div>
                <div style="color: #ffffff;">Ruta</div>
                <div style="color: #ffffff;">Fecha Viaje</div>
                <div style="color: #ffffff;">Hora</div>
                <div style="color: #ffffff;">Silla(s)</div>
                <div style="color: #ffffff;">Total</div>
                <div style="color: #ffffff;">Acción</div>
            </div>
        </li>
    </ul>
    <ul class="destinos misdestinos">
        {% for history in historyData %}
         <li>
            <div>
                <div>{{ (history.purshaseId) }}</div>
                <div style="text-align: center;">{{ (history.agencyOriginName)|capitalize }} - {{ (history.agencyDestinationName)|capitalize }}</div>
                <div>{{ (history.tripDate)|date("Y-m-d") }}</div>
                <div>{{ (history.tripHour)|date("G:i:s") }}</div>
                {% set seats = history.homologationSeat|split("",3) %}
                <div>{{ seats|length }}</div>
                <div>{{ (history.totalRate)|number_format(0, ',', '.')  }}</div>
                <div><a href="/pages/impression/history/{{ history.purshaseId }}"><button class="btn w-100 bg-light-blue">Comprobante</button></a></div>
            </div>
        </li>
    {% endfor %} 
    </ul> 
    {% else %}
    <div style="text-align: center;">No cuenta con Historial de Viajes.</div>
    {% endif %}
</div>