<div class="container mt-4 pb-4">
    <h2 class="block-title blue mt-4">Seguimiento de envíos</h2>
    <div class="col col-lg-12 mx-auto panel-shadow bg-white pb-4 mb-4">
        <div class="row pt-4 pb-4 justify-content-center">
            <div class="col col-lg-11 pt-4">
                <div class="row no-gutters panel seguimiento">
                    <div class="col col-lg-4">
                        <form class="shipping-gps-form formsubs__wrapper mb-4" data-drupal-selector="shipping-gps-form" action="/pages/services" method="post" id="shipping-gps-form" accept-charset="UTF-8" style="box-shadow: none;">
                        {% for key, child in formData if key|first != '#' %}
                        {% if key == 'ticketGps' %}
                        <div class="row no-gutters justify-content-between">
                            <label class="col-md-12 text-right text-orange" for="">Número de Guía </label>
                            {{ child }}
                        </div>
                        {% elseif key == 'actions' %}
                        <div class="mt-4 row no-gutters justify-content-end">
                            {{ child }}
                        </div>
                        {% elseif key == 'submitTicket' %}
                        <div class="mt-4 row no-gutters justify-content-end">
                            {{ child }}
                        </div>
                        {% elseif key == 'form_build_id' %}
                        {{ child }}
                        {% elseif key == 'form_id' %}
                            {{ child }}    
                        {% elseif key == 'form_token' %}
                            {{ child }}
                        {% endif %}
                        {% endfor %} 
                    </div>
                    {% for key, child in formData if key|first != '#' %}
                    {% if key == 'messagePacket' %}
                    <div class="col col-lg-8 bg-dark-blue text-orange">
                        {{ child }}
                    </div>
                    {% endif %}
                    {% endfor %} 
                </form>
                </div>
                <div class="col-lg-12 mb-4 panel" style="margin-top: 20px;">
                <h5><b>Convenciones</b></h5>
                <ul class="orange-dots">
                    <li>Admitida: <span> Es cuando el remitente coloca un envío y este no ha salido de la agencia origen. </span></li>
                    <li>Despachada: <span>Es cuando el envío sale de la agencia y es transportada en un bus con una relación de envíos.</span></li>
                    <li>Recibida: <span>Es cuando el envío llega a la agencia de destino y un funcionario de la agencia le da recibido en el sistema.</span></li>
                    <li>Entregada: <span>Es cuando el destinatario recoge su mercancía y firma en constancia de recibido con nombre legible, número de cédula, fecha y hora de entrega. Una vez entregada la guía al destinatario se le debe dar entregado en el sistema de inmediato.</span></li>
                </ul>
                </div>
            </div>
        </div>
    </div>
</div>