<!-- Template for List Reservations -->
<div class="subtitle mt-4">
    {{ title }}
</div>
<div class="bg-light-blue light-shadow py-1" style="text-align: center;">
    {% if reservationsData|length > 0 %}
    <ul class="destinos">
        <li>
            <div>
                <div style="color: #ffffff;"># Compra</div>
                <div style="color: #ffffff;">Ruta</div>
                <div style="color: #ffffff;">Fecha Viaje</div>
                <div style="color: #ffffff;">Hora</div>
                <div style="color: #ffffff;">Silla(s)</div>
                <div style="color: #ffffff;">Total</div>
                <div style="color: #ffffff;">Acción</div>
            </div>
        </li>
    </ul>
    <ul class="destinos misdestinos">
        {% for reservation in reservationsData %}
         <li>
            <div>
                <div>{{ (reservation.purshaseId) }}</div>
                <div style="text-align: center;">{{ (reservation.agencyOriginName)|capitalize }} - {{ (reservation.agencydestinationName)|capitalize }}</div>
                <div>{{ (reservation.tripDate)|date("Y-m-d") }}</div>
                <div>{{ (reservation.tripHour)|date("G:i:s") }}</div>
                {% set seats = reservation.homologationSeat|split("",3) %}
                <div>{{ seats|length }}</div>
                <div>{{ (reservation.totalRate)|number_format(0, ',', '.')  }}</div>
                <div><a href="/pages/checkout/{{ reservation.purshaseId }}"><button class="btn w-100 bg-light-blue">Pagar</button></a></div>
            </div>
        </li>
        {% endfor %}
    </ul>    
    {% else %}
    <div style="text-align: center;">No cuenta con Reservas Activas.</div>
    {% endif %}
</div>