<section class="container-fluid cards">
	<div class="row no-gutters cards__container">
    	{% for items in promotionsData %}
    	{% set oddOrEven = cycle(['odd', 'even'], loop.index0) %}
    	{% if oddOrEven == 'odd' %}
        <article class="col-6 col-md-3 cards__item cards__item--yellow">
    	{% else %}
        <article class="col-6 col-md-3 cards__item cards__item--blue">
    	{% endif %}   
	        <img class="cards__image" src="{{ base_path }}/{{ active_theme_path() }}/images/promotions/{{ (items.agencyDestinationName)|trim|lower }}.jpg" alt="">
            <div class="cards__wrapper">
                <h3 class="cards__title">{{ (items.agencyDestinationName)|capitalize }}</h3>
                <div class="cards__description">
                    <img src="{{ base_path }}/{{ active_theme_path() }}/images/label/{{ (items.busServiceName)|trim }}-Left.png" alt="" class="cards__type">
                    <img src="{{ base_path }}/{{ active_theme_path() }}/images/bus/{{ (items.busServiceName)|trim }}-Vehicle.png" alt="" class="cards__bus">
                    <h4 class="cards__cities">{{ (items.agencyOriginName)|capitalize }} - {{ (items.agencyDestinationName)|capitalize }}</h4>
                    <p class="cards__prizes">
                        <span class="cards__infoprice">Desde:</span>
                        <span class="cards__value"><a  style="color: #FFF;" class="linkNew" href="/pages/reservation/{{ (items.agencyOriginId)|number_format }}/{{ (items.agencyOriginName)|capitalize|trim }}/{{ (items.agencyDestinationId)|number_format }}/{{ (items.agencyDestinationName)|capitalize|trim }}/{{ (items.tripDate|replace({'/': '-'})) }}/0">${{ (items.tripRate)|number_format(0, '', '.') }}</a></span>
                    </p>
                </div>
            </div>
        </article>
	    {% endfor %}
	</div>
	<div id="more" style="display: none;">
		<div class="row no-gutters cards__container">
		{% for itemsMore in promotionsMoreData %}
		{% set oddOrEvenMore = cycle(['odd', 'even'], loop.index0) %}
	    	{% if oddOrEvenMore == 'odd' %}
	    	<article class="col-6 col-md-3 cards__item cards__item--yellow">
			{% else %}
	    	<article class="col-6 col-md-3 cards__item cards__item--blue">
			{% endif %}
		        <img class="cards__image" src="{{ base_path }}/{{ active_theme_path() }}/images/promotions/{{ (itemsMore.agencyDestinationName)|trim|lower }}.jpg" alt="">
	            <div class="cards__wrapper">
	                <h3 class="cards__title">{{ (itemsMore.agencyDestinationName)|capitalize }}</h3>
	                <div class="cards__description">
	                    <img src="{{ base_path }}/{{ active_theme_path() }}/images/label/{{ (itemsMore.busServiceName)|trim }}-Left.png" alt="" class="cards__type">
	                    <img src="{{ base_path }}/{{ active_theme_path() }}/images/bus/{{ (itemsMore.busServiceName)|trim }}-Vehicle.png" alt="" class="cards__bus">
	                    <h4 class="cards__cities">{{ (itemsMore.agencyOriginName)|capitalize }} - {{ (itemsMore.agencyDestinationName)|capitalize }}</h4>
	                    <p class="cards__prizes">
	                        <span class="cards__infoprice">Desde:</span>
	                         <span class="cards__value"><a  style="color: #FFF;" class="linkNew" href="/pages/reservation/{{ (itemsMore.agencyOriginId)|number_format }}/{{ (itemsMore.agencyOriginName)|capitalize|trim }}/{{ (itemsMore.agencyDestinationId)|number_format }}/{{ (itemsMore.agencyDestinationName)|capitalize|trim }}/{{ (itemsMore.tripDate|replace({'/': '-'})) }}/0">${{ (itemsMore.tripRate)|number_format(0, '', '.') }}</a></span>
	                    </p>
	                </div>
	            </div>
	        </article>
	    {% endfor %}
		</div>
    </div>
    <div id="button_more" class="row no-gutters mt-4">
        <div class="col-12 text-center">
            <a id="more_promotions" class="cards__anchor">Más Promociones <i class="cards__anchor-ico fa fa-angle-down" aria-hidden="true" style="font-size: 80px;"></i></a>
        </div>
    </div>
    <div id="button_less" class="row no-gutters mt-4" style="display: none;">
        <div class="col-12 text-center">
            <a id="less_promotions" class="cards__anchor">Menos Promociones <i class="cards__anchor-ico fa fa-angle-up" aria-hidden="true" style="font-size: 80px;"></i></a>
        </div>
    </div>
</section>