<div class="wrapper__top bg-image"><img alt="services" data-entity-type="file" data-entity-uuid="88d47b4b-7bc0-4ec9-a13d-bbf48a3adc35" src="/sites/default/files/inline-images/services1_0.jpg" />
    <div class="wrapper__topwrap">
        <h2 class="wrapper__title wrapper__title--cities">Nuestros Servicios</h2>
    </div>
</div>
<div class="wrapper__body">
    <h2 class="block-title blue">Calculadora de costos de envíos</h2>
    <div class="col col-lg-12 mx-auto panel-shadow bg-white">
        <div class="row pt-4 pb-4 justify-content-center">
            <div class="col-lg-7">
            <!-- Begins Shipping Quote Block -->
                {{ blockShippingQuote }}
            <!-- End Shipping Quote Block -->
            </div>
            <div class="col-lg-4 d-sm-none d-md-block">
            <!-- Begins Image Shipping Quote Block -->
                {{ blockImageShippingQuote }}
            <!-- End Image Shipping Quote Block -->   
            </div>
            <!-- Begins Express Messenger Block -->
            {{ blockExpressMessenger }}
        <!-- End Express Messenger Block -->
        </div>
    </div>
        <!-- Begins Express Messenger Block -->
            {{ blockSearchPackage }}
        <!-- End Express Messenger Block -->
        <!-- Begins Express Messenger Block -->
            {{ blockServicesList }}
        <!-- End Express Messenger Block -->
</div>