<div class="wrapper__top bg-image">
    <img src="/sites/default/files/inline-images/user.jpg" alt="" class="">
    <div class="wrapper__topwrap">
        <h2 class="wrapper__title wrapper__title--cities">Mi Cuenta</h2>
    </div>
</div>
<div class="wrapper__body">
    <h3 class="wrapper__lead">Mi Cuenta</h3>
    <section class="container modal_home">
    <div class="row">
        <div class="col col-md-4 profile">
            <div class="mt-4">
                <img src="{{ base_path }}/{{ active_theme_path() }}/images/misc/m_cuenta.png" alt="">
                <hr>
                <h6 style="font-size: 14px;">{{ userData[1] }}</h6>
            </div>
        </div>
        <div class="col col-md-8 user_data">
            <div class="row">
                <div class="col col-md-12 user_data" style="padding: 0px; text-align: center;">
                    <h3>¡BIENVENIDO!</h3>
                </div>
                <div class="col col-md-6">
                    <p>Email: </br><b>{{ userData[2] }}</b></p>
                </div>
                <div class="col col-md-6" style="text-align: right;">
                <p>Dirección: </br><b>{{ userData[6] }}</b></p>
                </div>
                <div class="col col-md-6">
                <p>Teléfono: </br><b>{{ userData[5] }}</b></p>
                </div>
                <div class="col col-md-6" style="text-align: right;">
                <p>Teléfono Adicional: </br><b>{{ userData[7] }}</b></p>
                </div>
                <div class="col col-md-12">
                    <div class="triada">
                        <div>
                            <a class="header__loginactions" href="/pages/redemption">
                                <span class="header__linkuser"><strong>Puntos</strong></span> 
                                <span class="header__icon header__icon--points"></span>
                                <span class="header__linkuser ml-2"><strong>{{ userData[3]|number_format(0, '', '.') }}</strong></span> 
                            </a>
                        </div>
                        <div><span>Puntos<br>por vencer</span><div></div></div>
                        <div><span>Reservas</span><div>{{ userData[4] }}</div></div>
                    </div>
                </div>
                <div class="col col-md-12">
                <div style="text-align: right;"><a href="/pages/user/edit/{{ userData[0] }}"><button class="btn dark">Editar Datos</button></a></div>
                </div>
            </div>
        </div>
    </div>
    </section>
    <div class="wrapper__container col">
        <div class="container mx-auto">
            <div id="reservations">
                {{ blockReservations }}
            </div>
            <div id="tickets">
                {{ blockTickets }}
            </div>
            <div id="history">
                {{ blockHistory }}
            </div>
        </div>
    </div>
</div>
<div class="division"></div>