<div class="wrapper__top bg-image"><img alt="" src="http://www.atma.ca/wp-content/uploads/2015/07/9-mountain-landscape-wallpaper.jpg" />
<div class="wrapper__topwrap">
<h2 class="wrapper__title wrapper__title--cities">Checkout</h2>
</div>
</div>

<div class="wrapper__body pb-4">
    {% for items in tripResumeData %}
    {% set chairs = items.homologationSeat|split("",3) %}
    {% set passengers =  chairs|length %}
    {% set number =  1 %}
    {% set chairsBack = items.homologationSeatBack|split("",3) %}
    {% set passengersback =  chairsBack|length %}
    {% set numberBack =  1 %}
    <h3 class="wrapper__lead">Finaliza tu compra ({{ items.agencyOriginName|capitalize  }} - {{ items.agencyDestinationName|capitalize  }})</h3>
    <div class="wrapper__container container-fluid mb-4"><div class="row">
        <div class="col-12 col-md-12">
            <div class="check-out row">
                {% if items.typeTravel=='I' %}
                <div class="col-12 col-lg-4 p-4">
                    <h5 class="title">Datos de Pasajeros ({{ passengers }})</h5>
                    {% for value in chairs %}
                    <div class="datos panel">
                        <div class="text-orange">Pasajero {{ number }}</div>
                        <div><label>Nombre:</label> Jhon Doe</div>
                        <div><label>ID:</label> CC 8080808080</div>
                        <div><label>Cel:</label> 300 555 0055</div>
                        <div><label>Asiento:</label> {{ value }}</div>
                    </div>
                    {% set number = number+1 %}
                    {% endfor %}
                </div>
                {% else %}
                <div class="col-12 col-lg-4 p-4">
                    <h5 class="title">Datos de Pasajeros ({{ passengers }})</h5>
                    <div class="trip__salida" style="font-size: 0.8em;"><p>Ida</p></div>
                    {% for value in chairs %}
                    <div class="datos panel">
                        <div class="text-orange">Pasajero {{ number }}</div>
                        <div><label>Nombre:</label> Jhon Doe</div>
                        <div><label>ID:</label> CC 8080808080</div>
                        <div><label>Cel:</label> 300 555 0055</div>
                        <div><label>Asiento:</label> {{ value }}</div>
                    </div>
                    {% set number = number+1 %}
                    {% endfor %}
                    <div class="trip__regresoc" style="font-size: 0.8em;"><p>Regreso</p></div>
                    {% for value in chairsBack %}
                    <div class="datos panel">
                        <div class="text-orange">Pasajero {{ numberBack }}</div>
                        <div><label>Nombre:</label> Jhon Doe</div>
                        <div><label>ID:</label> CC 8080808080</div>
                        <div><label>Cel:</label> 300 555 0055</div>
                        <div><label>Asiento:</label> {{ value }}</div>
                    </div>
                    {% set numberBack = numberBack+1 %}
                    {% endfor %}
                </div>
                {% endif %}
                <div class="col-12 col-lg-4 p-4">
                    <h5 class="title">Datos de pago</h5>
                    <div class="datos mt-2">
                        <!--<div class="text-orange">Datos</div>-->
                        <div><label style="margin-bottom: 0;">Cliente:</label></div>
                        <div style="margin-bottom: .3em;">{{ items.clientName }}</div>
                        <!--<div><label>Sillas:</label> 
                        {% for value in chairs %}
                          {{ value }}
                        {% endfor %}
                        {{ passengers }}
                        </div>
                        <div><label>Valor Total:</label> Cra 20 #85 40 sur</div>-->
                    </div>
                    <div class="metodos d-flex">
                        <div class="form-group">
                            <label class="p-2"><img src="{{ base_path }}/{{ active_theme_path() }}/images/icons/ivisa.png" alt="visa"></label>
                            <label class="radio">
                                <input type="radio" checked="checked" name="radio">
                                <span class="radio-checkmark"></span>
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="p-2"><img src="{{ base_path }}/{{ active_theme_path() }}/images/icons/imaster.png" alt="mastercard"></label>
                            <label class="radio">
                                <input type="radio" name="radio">
                                <span class="radio-checkmark"></span>
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="p-2"><img src="{{ base_path }}/{{ active_theme_path() }}/images/icons/ipse.png" alt="pse"></label>
                            <label class="radio">
                                <input type="radio" name="radio">
                                <span class="radio-checkmark"></span>
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="p-2"><img src="{{ base_path }}/{{ active_theme_path() }}/images/icons/ibaloto.png" alt="baloto"></label>
                            <label class="radio">
                                <input type="radio" name="radio">
                                <span class="radio-checkmark"></span>
                            </label>
                        </div>
                    </div>
                    
                    <div class="panel credit-card text-orange">
                        <div class="row">
                            <div class="col col-12">
                                Número de tarjeta
                                <input class="input blue-border text-blue no-shadow w-100" type="text" placeholder="555 050 555 555">
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-sm-12 col-lg-4">
                                CCV
                                <input class="input blue-border text-blue no-shadow w-100" type="number" placeholder="555">
                            </div>
                            <div class="col-sm-12 col-lg-8">
                                Vence: 
                                <input class="input blue-border text-blue no-shadow w-100" type="date" placeholder="2022-01-02">
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="col-12 col-lg-4 p-4">
                    <h5 class="title">Resumen</h5>
                    {% if items.typeTravel=='I' %}
                    <div class="salida-regreso d-flex align-items-center justify-content-center mt-2 mb-2">
                        <div class="trip__salida" style="font-size: 0.8em;">
                            <p>Salida:</p>
                            <p>{{ items.tripDate|date("d-m-Y") }} {{ items.tripHour|date("G:i") }}</p>
                        </div>
                    </div>
                    <div class="panel data1 text-center">
                        <p><b>{{ items.agencyOriginName|capitalize  }} - {{ items.agencyDestinationName|capitalize  }}</b></p>
                        <img src="{{ base_path }}/{{ active_theme_path() }}/images/label_reservation/{{ items.busServiceId }}.png" alt="">
                    </div>
                    {% else %}
                    <div class="salida-regreso d-flex align-items-center justify-content-center mt-2 mb-2">
                        <div class="trip__salida" style="font-size: 0.8em;">
                            <p>Salida:</p>
                            <p>{{ items.tripDate|date("d-m-Y") }} {{ items.tripHour|date("G:i") }}</p>
                        </div>
                    </div>
                    <div class="panel data1 text-center">
                        <p><b>{{ items.agencyOriginName|capitalize  }} - {{ items.agencyDestinationName|capitalize  }}</b></p>
                        <img src="{{ base_path }}/{{ active_theme_path() }}/images/label_reservation/{{ items.busServiceId }}.png" alt="">
                    </div>
                    <div class="salida-regreso d-flex align-items-center justify-content-center mt-2 mb-2">
                        <div class="trip__regresoc" style="font-size: 0.8em;">
                            <p>Regreso:</p>
                            <p>{{ items.tripDateBack|date("d-m-Y") }} {{ items.tripHourBack|date("G:i") }}</p>
                        </div>
                    </div>
                    <div class="panel data1 text-center">
                        <p><b>{{ items.agencyOriginNameBack|capitalize  }} - {{ items.agencyDestinationNameBack|capitalize  }}</b></p>
                        <img src="{{ base_path }}/{{ active_theme_path() }}/images/label_reservation/{{ items.busServiceIdBack }}.png" alt="">
                    </div>
                    {% endif %}
                    <div class="panel data2" style="text-align: center; margin-top: 20px;">
                        <b>Total: </b>{{ (items.totalRate)|number_format(0, ',', '.')  }}
                    </div>
                    <div class="actions mt-4 d-flex flex-wrap justify-content-center">
                        <!--<div class="w-75">
                            <a href=""><button class="btn w-100 light" id="backCheckout">Regresar</button></a>
                        </div>-->
                        <div class="w-75">
                            <button class="btn mt-4 w-100 dark" id="checkout">Pagar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-lg-10 mx-auto mt-4 text-gray d-flex justify-content-between align-items-end">
            <img class="mr-3" src="{{ base_path }}/{{ active_theme_path() }}/images/misc/alert.png" height="65px" alt="Alerta">
            <div class="small">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi aut nam nisi? Doloribus, dolore incidunt
                    inventore porro hic magni voluptatem soluta?</p>
            </div>
        </div>
    </div>
    </div>
    {% endfor %}
    
</div>